{% extends "structure/base.html" %}
{% load bootstrap5 %}

{% block header %}
    <h2 class="p-3">Empresas</h2>
{% endblock header %}
{% block content %}
    <ul>
      {% for topic in topics %}
           <ol>
               <li class="list-group-item d-flex justify-content-between align-items-start">       
                    <div class="ms-2 me-auto">
                         <a href="{% url 'topic' topic.id %}" class="link-dark"><big>{{ topic }}</big></a>
                         {% if request.user == topic.creator %}
                         <div>
                              <a href="{% url 'edit_topic' topic.id %}">Editar</a>
                              <a href="{% url 'delete_topic' topic.id %}">Excluir</a>
                         </div>
                    </div>
               </li>
                {% endif %}
          </ol>
      {% empty %}
           <li> Não há empresas. </li>
      {% endfor %}
    



    </ul>
    
    <a href="{% url 'new_topic' %}">Nova empresa</a>
{% endblock content%}
     